DAT602-master/Node Red Flows/pi_face_detection.json
[  
   {  
      "id":"d0961140.06546",
      "type":"inject",
      "z":"dc02d792.833b48",
      "name":"Take Picture",
      "topic":"",
      "payload":"",
      "payloadType":"str",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":230,
      "y":260,
      "wires":[  
         [  
            "d3b66813.94f4f8"
         ]
      ]
   },
   {  
      "id":"d3b66813.94f4f8",
      "type":"exec",
      "z":"dc02d792.833b48",
      "command":"raspistill -o /home/pi/Pictures/image1.jpg -q 25",
      "addpay":true,
      "append":"",
      "useSpawn":"false",
      "timer":"",
      "oldrc":false,
      "name":"Execute Picture",
      "x":430,
      "y":260,
      "wires":[  
         [  
            "d69cf484.62dc08"
         ],
         [  

         ],
         [  

         ]
      ]
   },
   {  
      "id":"d69cf484.62dc08",
      "type":"template",
      "z":"dc02d792.833b48",
      "name":"Status of Capture",
      "field":"payload",
      "fieldType":"msg",
      "format":"handlebars",
      "syntax":"mustache",
      "template":"Success!",
      "output":"str",
      "x":650,
      "y":260,
      "wires":[  
         [  
            "f1b67939.a6ed08"
         ]
      ]
   },
   {  
      "id":"f1b67939.a6ed08",
      "type":"file in",
      "z":"dc02d792.833b48",
      "name":"",
      "filename":"/home/pi/Pictures/image1.jpg",
      "format":"",
      "chunk":false,
      "sendError":false,
      "x":520,
      "y":360,
      "wires":[  
         [  
            "8e0bdd35.0b837"
         ]
      ]
   },
   {  
      "id":"8e0bdd35.0b837",
      "type":"function",
      "z":"dc02d792.833b48",
      "name":"Read Image",
      "func":"msg.headers = {\n \"Content-Type\":\"image/jpeg\"\n};\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":760,
      "y":380,
      "wires":[  
         [  
            "d5690c9a.a0339"
         ]
      ]
   },
   {  
      "id":"d5690c9a.a0339",
      "type":"visual-recognition-v3",
      "z":"dc02d792.833b48",
      "name":"",
      "vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api",
      "image-feature":"detectFaces",
      "lang":"",
      "x":950,
      "y":380,
      "wires":[  
         [  
            "261ef5d4.6484aa"
         ]
      ]
   },
   {  
      "id":"261ef5d4.6484aa",
      "type":"debug",
      "z":"dc02d792.833b48",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"result",
      "x":1130,
      "y":380,
      "wires":[  

      ]
   }
]