DAT602-master/Node Red Flows/pi_face_detection_text_to_speech
[  
   {  
      "id":"a47f78c6.a6bce8",
      "type":"inject",
      "z":"ada8db20.18ae88",
      "name":"Take Picture",
      "topic":"",
      "payload":"",
      "payloadType":"str",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":110,
      "y":120,
      "wires":[  
         [  
            "504de4ca.41b77c"
         ]
      ]
   },
   {  
      "id":"504de4ca.41b77c",
      "type":"exec",
      "z":"ada8db20.18ae88",
      "command":"raspistill -o /home/pi/Pictures/image1.jpg -q 25",
      "addpay":true,
      "append":"",
      "useSpawn":"false",
      "timer":"",
      "oldrc":false,
      "name":"Execute Picture",
      "x":310,
      "y":120,
      "wires":[  
         [  
            "231cad13.ccf022"
         ],
         [  

         ],
         [  

         ]
      ]
   },
   {  
      "id":"231cad13.ccf022",
      "type":"template",
      "z":"ada8db20.18ae88",
      "name":"Status of Capture",
      "field":"payload",
      "fieldType":"msg",
      "format":"handlebars",
      "syntax":"mustache",
      "template":"Success!",
      "output":"str",
      "x":530,
      "y":120,
      "wires":[  
         [  
            "210a5294.a4cf3e"
         ]
      ]
   },
   {  
      "id":"210a5294.a4cf3e",
      "type":"file in",
      "z":"ada8db20.18ae88",
      "name":"",
      "filename":"/home/pi/Pictures/image1.jpg",
      "format":"",
      "chunk":false,
      "sendError":false,
      "x":210,
      "y":260,
      "wires":[  
         [  
            "8b883cd4.b5b9d"
         ]
      ]
   },
   {  
      "id":"8b883cd4.b5b9d",
      "type":"function",
      "z":"ada8db20.18ae88",
      "name":"Read Image",
      "func":"msg.headers = {\n \"Content-Type\":\"image/jpeg\"\n};\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":450,
      "y":280,
      "wires":[  
         [  
            "d7ff95c6.11e178"
         ]
      ]
   },
   {  
      "id":"d7ff95c6.11e178",
      "type":"visual-recognition-v3",
      "z":"ada8db20.18ae88",
      "name":"",
      "vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api",
      "image-feature":"detectFaces",
      "lang":"",
      "x":640,
      "y":280,
      "wires":[  
         [  
            "6aaa95c0.33d8ac",
            "a4bb64c6.3cd598"
         ]
      ]
   },
   {  
      "id":"6aaa95c0.33d8ac",
      "type":"debug",
      "z":"ada8db20.18ae88",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"result",
      "x":860,
      "y":280,
      "wires":[  

      ]
   },
   {  
      "id":"a4bb64c6.3cd598",
      "type":"switch",
      "z":"ada8db20.18ae88",
      "name":"",
      "property":"result.images[0].faces",
      "propertyType":"msg",
      "rules":[  
         {  
            "t":"nempty"
         },
         {  
            "t":"empty"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":200,
      "y":440,
      "wires":[  
         [  
            "32b09cee.b10214"
         ],
         [  
            "d8b99307.1d9bf"
         ]
      ]
   },
   {  
      "id":"32b09cee.b10214",
      "type":"function",
      "z":"ada8db20.18ae88",
      "name":"Face Detected",
      "func":"msg.payload = \"Face Detected!\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":380,
      "y":420,
      "wires":[  
         [  
            "d0d5fa2f.606ae8",
            "d0f03976.22e918"
         ]
      ]
   },
   {  
      "id":"d8b99307.1d9bf",
      "type":"function",
      "z":"ada8db20.18ae88",
      "name":"Face NOT Detected",
      "func":"msg.payload = \"Face NOT detected!\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":400,
      "y":480,
      "wires":[  
         [  
            "d0d5fa2f.606ae8",
            "d0f03976.22e918"
         ]
      ]
   },
   {  
      "id":"d0d5fa2f.606ae8",
      "type":"watson-text-to-speech",
      "z":"ada8db20.18ae88",
      "name":"",
      "lang":"en-GB",
      "langhidden":"en-GB",
      "langcustom":"NoCustomisationSetting",
      "langcustomhidden":"",
      "voice":"en-GB_KateVoice",
      "voicehidden":"",
      "format":"audio/wav",
      "password":"",
      "apikey":"PzVAc-6kAdJr4L0O5aXW3kgNB_GdffGg2Qhlc2WyfaWv",
      "payload-response":false,
      "default-endpoint":false,
      "service-endpoint":"https://gateway-syd.watsonplatform.net/text-to-speech/api",
      "x":660,
      "y":540,
      "wires":[  
         [  
            "21dfe426.98aa0c"
         ]
      ]
   },
   {  
      "id":"21dfe426.98aa0c",
      "type":"change",
      "z":"ada8db20.18ae88",
      "name":"set speech as payload",
      "rules":[  
         {  
            "t":"set",
            "p":"payload",
            "to":"speech",
            "tot":"msg"
         },
         {  
            "t":"delete",
            "p":"speech"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":880,
      "y":540,
      "wires":[  
         [  
            "b3ff64d1.ec63a8"
         ]
      ]
   },
   {  
      "id":"b3ff64d1.ec63a8",
      "type":"play audio",
      "z":"ada8db20.18ae88",
      "name":"",
      "voice":"",
      "x":1080,
      "y":540,
      "wires":[  

      ]
   },
   {  
      "id":"d0f03976.22e918",
      "type":"debug",
      "z":"ada8db20.18ae88",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "x":670,
      "y":400,
      "wires":[  

      ]
   }
]