DAT602-master/Node Red Flows/speech_to_text_sentiment.json
[  
   {  
      "id":"c487780f.1d0748",
      "type":"microphone",
      "z":"c5fe18f6.ecc038",
      "name":"",
      "x":458.8888854980469,
      "y":119.99999237060547,
      "wires":[  
         [  
            "6876eec9.943c5"
         ]
      ]
   },
   {  
      "id":"6876eec9.943c5",
      "type":"watson-speech-to-text",
      "z":"c5fe18f6.ecc038",
      "name":"",
      "alternatives":1,
      "speakerlabels":true,
      "smartformatting":false,
      "lang":"en-US",
      "langhidden":"en-US",
      "langcustom":"NoCustomisationSetting",
      "langcustomhidden":"",
      "band":"NarrowbandModel",
      "bandhidden":"",
      "password":"Hn0uPARxwUZT",
      "apikey":"",
      "payload-response":true,
      "streaming-mode":false,
      "streaming-mute":true,
      "auto-connect":false,
      "discard-listening":false,
      "disable-precheck":false,
      "default-endpoint":true,
      "service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api",
      "x":628.8888854980469,
      "y":119.99999237060547,
      "wires":[  
         [  
            "e6d36819.229c98"
         ]
      ]
   },
   {  
      "id":"433a9945.39f398",
      "type":"debug",
      "z":"c5fe18f6.ecc038",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "x":1058.8888854980469,
      "y":279.99999237060547,
      "wires":[  

      ]
   },
   {  
      "id":"e6d36819.229c98",
      "type":"sentiment",
      "z":"c5fe18f6.ecc038",
      "name":"",
      "property":"payload",
      "x":708.8888854980469,
      "y":219.99999237060547,
      "wires":[  
         [  
            "254c051e.be873a",
            "76707474.201c8c"
         ]
      ]
   },
   {  
      "id":"254c051e.be873a",
      "type":"function",
      "z":"c5fe18f6.ecc038",
      "name":"GetScore",
      "func":"msg.payload = \"Score: \" + msg.sentiment.score;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":908.8888854980469,
      "y":279.99999237060547,
      "wires":[  
         [  
            "433a9945.39f398"
         ]
      ]
   },
   {  
      "id":"66c9ee55.cd13d",
      "type":"debug",
      "z":"c5fe18f6.ecc038",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "x":1238.8888854980469,
      "y":139.99999237060547,
      "wires":[  

      ]
   },
   {  
      "id":"76707474.201c8c",
      "type":"switch",
      "z":"c5fe18f6.ecc038",
      "name":"",
      "property":"sentiment.score",
      "propertyType":"msg",
      "rules":[  
         {  
            "t":"gt",
            "v":"0",
            "vt":"str"
         },
         {  
            "t":"eq",
            "v":"0",
            "vt":"str"
         },
         {  
            "t":"lt",
            "v":"0",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":3,
      "x":898.8888854980469,
      "y":139.99999237060547,
      "wires":[  
         [  
            "28817faf.8aac5"
         ],
         [  
            "f9b3c886.f68b68"
         ],
         [  
            "5c451adb.190244"
         ]
      ]
   },
   {  
      "id":"28817faf.8aac5",
      "type":"function",
      "z":"c5fe18f6.ecc038",
      "name":"Positive",
      "func":"msg.payload = \"Positive!\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":1068.8888854980469,
      "y":79.99999237060547,
      "wires":[  
         [  
            "66c9ee55.cd13d"
         ]
      ]
   },
   {  
      "id":"f9b3c886.f68b68",
      "type":"function",
      "z":"c5fe18f6.ecc038",
      "name":"Neutral",
      "func":"msg.payload = \"Neutral!\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":1068.8888854980469,
      "y":119.99999237060547,
      "wires":[  
         [  
            "66c9ee55.cd13d"
         ]
      ]
   },
   {  
      "id":"5c451adb.190244",
      "type":"function",
      "z":"c5fe18f6.ecc038",
      "name":"Negative",
      "func":"msg.payload = \"Negative!\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":1068.8888854980469,
      "y":159.99999237060547,
      "wires":[  
         [  
            "66c9ee55.cd13d"
         ]
      ]
   },
   {  
      "id":"9729f9c5.b84e88",
      "type":"twitter in",
      "z":"c5fe18f6.ecc038",
      "twitter":"",
      "tags":"@matthewfrench71",
      "user":"user",
      "name":"",
      "inputs":1,
      "x":540,
      "y":420,
      "wires":[  
         [  
            "710a959c.9e8aac",
            "15dfb981.9ae496"
         ]
      ]
   },
   {  
      "id":"710a959c.9e8aac",
      "type":"sentiment",
      "z":"c5fe18f6.ecc038",
      "name":"",
      "property":"payload",
      "x":780,
      "y":440,
      "wires":[  
         [  
            "76707474.201c8c"
         ]
      ]
   },
   {  
      "id":"15dfb981.9ae496",
      "type":"debug",
      "z":"c5fe18f6.ecc038",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "x":790,
      "y":500,
      "wires":[  

      ]
   }
]